@import '../common/customProperties.css';
@import '../common/base64Images.css';
:root {
  /* gray color set */
  --RUIButton-color-gray: var(--slategray_50);
  --RUIButton-color-gray-lighten: var(--slategray_10);
  --RUIButton-color-gray-darken: var(--slategray_60);
  --RUIButton-boxShadow-gray: 1px 1px 1px 0 color(var(--RUIButton-color-gray) alpha(30%));

  /* blue color set */
  --RUIButton-color-blue: var(--dodgerblue_50);
  --RUIButton-color-blue-lighten: var(--dodgerblue_10);
  --RUIButton-color-blue-darken: var(--dodgerblue_60);
  --RUIButton-boxShadow-blue: 1px 1px 1px 0 color(var(--RUIButton-color-blue) alpha(30%));

  /* brown color set */
  --RUIButton-color-brown: var(--brown_50);
  --RUIButton-color-brown-lighten: var(--brown_10);
  --RUIButton-color-brown-darken: var(--brown_60);
  --RUIButton-boxShadow-brown: 1px 1px 1px 0 color(var(--RUIButton-color-brown) alpha(30%));
}

@keyframes SpinnerRotation {
  0% { transform: translate3d(-50%, -50%, 0) rotate(0deg); }
  5% { transform: translate3d(-50%, -50%, 0) rotate(30deg); }
  14% { transform: translate3d(-50%, -50%, 0) rotate(60deg); }
  23% { transform: translate3d(-50%, -50%, 0) rotate(90deg); }
  32% { transform: translate3d(-50%, -50%, 0) rotate(120deg); }
  41% { transform: translate3d(-50%, -50%, 0) rotate(150deg); }
  50% { transform: translate3d(-50%, -50%, 0) rotate(180deg); }
  59% { transform: translate3d(-50%, -50%, 0) rotate(210deg); }
  68% { transform: translate3d(-50%, -50%, 0) rotate(240deg); }
  77% { transform: translate3d(-50%, -50%, 0) rotate(270deg); }
  86% { transform: translate3d(-50%, -50%, 0) rotate(300deg); }
  95% { transform: translate3d(-50%, -50%, 0) rotate(330deg); }
  100% { transform: translate3d(-50%, -50%, 0) rotate(0deg); }
}

.RUIButton {
  @apply --reset-font;
  @apply --reset-appearance;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 1px solid var(--RUIButton-color-gray);
  border-radius: 4px;
  outline: none;
  background: var(--RUIButton-color-gray);
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 2.38em;
  text-align: center;
  white-space: nowrap;
  box-shadow: var(--RUIButton-boxShadow-gray);
  cursor: pointer;
  user-select: none;
  vertical-align: baseline;

  &:disabled {
    cursor: default;
    opacity: .5;
  }
}

.RUIButton_SVGIcon {
  display: inline-block;
  height: 1em;
  margin: 0;
  vertical-align: 0;
}

/* button border width */
.RUIButton-borderWidth-none {
  border-width: 0;
}

.RUIButton-borderWidth-thick {
  border-width: 2px;
}

/* button size */
.RUIButton-size-small {
  line-height: 1.91em;
}
.RUIButton-size-medium {
  line-height: 2.38em;
}
.RUIButton-size-large {
  line-height: 3.12em;
}

/* add spinner */
.RUIButton_Spinner {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2em;
    height: 1.2em;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: SpinnerRotation 1s step-start forwards infinite;
    content: '';
  }
}

/* color */
.RUIButton_SVGIcon {
  fill: white;
}

.RUIButton-outline {
  border-color: var(--RUIButton-color-gray);
  background: white;
  color: var(--RUIButton-color-gray);
  & .RUIButton_SVGIcon {
    fill: var(--RUIButton-color-gray);
  }
}

.RUIButton_Spinner {
  color: var(--RUIButton-color-gray);
  &::after {
    background-image: url(var(--Spinner-color-gray));
  }
  & .RUIButton_SVGIcon {
    fill: var(--RUIButton-color-gray);
  }
}

.RUIButton-color-gray {
  border-color: var(--RUIButton-color-gray-darken);
  background: var(--RUIButton-color-gray);
  box-shadow: var(--RUIButton-boxShadow-gray);
  &.RUIButton-outline {
    border-color: var(--RUIButton-color-gray);
    background: white;
    color: var(--RUIButton-color-gray);
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-gray);
    }
  }
  &.RUIButton_Spinner {
    color: var(--RUIButton-color-gray);
    &::after {
      background-image: url(var(--Spinner-color-gray));
    }
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-gray);
    }
  }
  &.RUIButton-outline.RUIButton_Spinner {
    color: white;
    & .RUIButton_SVGIcon {
      fill: white;
    }
  }
}

.RUIButton-color-blue {
  border-color: var(--RUIButton-color-blue-darken);
  background: var(--RUIButton-color-blue);
  box-shadow: var(--RUIButton-boxShadow-blue);
  &.RUIButton-outline {
    border-color: var(--RUIButton-color-blue);
    background: white;
    color: var(--RUIButton-color-blue);
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-blue);
    }
  }
  &.RUIButton_Spinner {
    color: var(--RUIButton-color-blue);
    &::after {
      background-image: url(var(--Spinner-color-blue));
    }
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-blue);
    }
  }
  &.RUIButton-outline.RUIButton_Spinner {
    color: white;
    & .RUIButton_SVGIcon {
      fill: white;
    }
  }
}

.RUIButton-color-brown {
  border-color: var(--RUIButton-color-brown-darken);
  background: var(--RUIButton-color-brown);
  box-shadow: var(--RUIButton-boxShadow-brown);
  &.RUIButton-outline {
    border-color: var(--RUIButton-color-brown);
    background: white;
    color: var(--RUIButton-color-brown);
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-brown);
    }
  }
  &.RUIButton_Spinner {
    color: var(--RUIButton-color-brown);
    &::after {
      background-image: url(var(--Spinner-color-brown));
    }
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-brown);
    }
  }
  &.RUIButton-outline.RUIButton_Spinner {
    color: white;
    & .RUIButton_SVGIcon {
      fill: white;
    }
  }
}

/* active, hover color */
.RUIButton:not(:disabled):active,
.inputMethod-mouse .RUIButton:not(:disabled):hover { /* wrapper의 class name 이 inputMethod-mouse 일 때에만 hover 적용 */
  background: var(--RUIButton-color-gray-darken);
  transition: background .2s, color .2s;

  & .RUIButton_SVGIcon {
    transition: fill .2s;
  }
  &.RUIButton-color-gray {
    background: var(--RUIButton-color-gray-darken);
    &.RUIButton-outline {
      background: var(--RUIButton-color-gray-lighten);
    }
  }
  &.RUIButton-color-blue {
    background: var(--RUIButton-color-blue-darken);
    &.RUIButton-outline {
      background: var(--RUIButton-color-blue-lighten);
    }
  }
  &.RUIButton-color-brown {
    background: var(--RUIButton-color-brown-darken);
    &.RUIButton-outline {
      background: var(--RUIButton-color-brown-lighten);
    }
  }
  &.RUIButton_Spinner.RUIButton-color-gray {
    color: var(--RUIButton-color-gray-darken);
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-gray-darken);
    }
    &.RUIButton-outline {
      color: var(--RUIButton-color-gray-lighten);
      & .RUIButton_SVGIcon {
        fill: var(--RUIButton-color-gray-lighten);
      }
    }
  }
  &.RUIButton_Spinner.RUIButton-color-blue {
    color: var(--RUIButton-color-blue-darken);
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-blue-darken);
    }
    &.RUIButton-outline {
      color: var(--RUIButton-color-blue-lighten);
      & .RUIButton_SVGIcon {
        fill: var(--RUIButton-color-blue-lighten);
      }
    }
  }
  &.RUIButton_Spinner.RUIButton-color-brown {
    color: var(--RUIButton-color-brown-darken);
    & .RUIButton_SVGIcon {
      fill: var(--RUIButton-color-brown-darken);
    }
    &.RUIButton-outline {
      color: var(--RUIButton-color-brown-lighten);
      & .RUIButton_SVGIcon {
        fill: var(--RUIButton-color-brown-lighten);
      }
    }
  }
}
