@import "../common/customProperties.css";

.RUIOptionList {
  @apply --reset-layout;
  @apply --reset-font;

  display: inline-flex;
}

.RUIOptionList_Item {
  @apply --reset-layout;
  @apply --reset-font;

  display: inline-block;
  position: relative;
  font-size: 12px;
  list-style: none;
  vertical-align: middle;
}

.RUIOptionList_Item:not(:first-child)::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 1em;
  transform: translate3d(-50%, -50%, 0);
  background: var(--slategray_10);
  content: '';

  @nest .RUIOptionList-separator-dot & {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--slategray_20);
    line-height: 1em;
  }
}

.RUIOptionList_ItemButton {
  @apply --reset-appearance;
  @apply --reset-layout;
  @apply --reset-font;

  display: inline-block;
  padding: 0 8px;
  color: var(--slategray_50);
  font-size: inherit;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: color .2s;

  @nest .RUIOptionList-separator-dot {
    padding: 0 6px;
  }
  @nest .RUIOptionList_Item:first-child & {
    padding-left: 0;
  }

  &.active {
    color: var(--slategray_90);
  }
}

.RUIOptionList_ItemButton:not(.active):active,
.inputMethod-mouse .RUIOptionList_ItemButton:not(.active):hover {
  color: var(--slategray_70);
}
