@import 'button.css';

@custom-selector :--text .rsgBox__title, .rsgBox__description;

.rsgBox {
  position: relative;
  padding: 20px 0;
  border-radius: 3px;

  /* element */
  &__title {
    margin: 0;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5em;
  }

  &__description {
    margin: 0;
    font-size: 1em;
    line-height: 1.45em;
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.15em;
  }

  &__button {
    &:--button {
      margin-top: 1.1em;
    }

    &--middle:--button {
      position: absolute;
      top: 50%;
      right: 2.15em;
      margin: 0;
      transform: translateY(-50%);
    }
  }

  &__link {
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;

    &__arrow {
      height: .7em;
      vertical-align: baseline;
    }
  }

  /* appearance */
  &--center {
    text-align: center;
  }

  &--center > :--text {
    position: relative;
  }
  &--center > :--text > &__icon {
    position: static;
  }

  &:not(&--center) {
    padding-left: 72px;
  }

  &:not(&--center) > &__title > &__icon {
    top: 19px;
    left: 28px;
    height: 1.7em;
  }

  &--compact {
    padding: 8px;
  }

  &--compact:not(&--center) {
    padding-left: 35px;
  }

  &--compact:not(&--center) > &__description > &__icon {
    top: 8px;
    left: 13px;
  }

  /* brown */
  &--brown {
    background: var(--brown_5);
    box-shadow: inset 0 0 1px var(--brown_10);
  }

  &--brown &__icon {
    fill: var(--brown_50);
  }

  &--brown > &__title {
    color: var(--brown_50);
  }

  &--brown > &__description,
  &--brown > &__link {
    color: var(--brown_60);
  }

  &--brown > &__link > &__link__arrow {
    fill: var(--brown_60);
  }

  /* gray */
  &--gray {
    background: var(--slategray_5);
  }

  &--gray &__icon {
    fill: var(--slategray_20);
  }

  &--gray > &__title {
    color: var(--slategray_40);
  }

  &--gray > &__description,
  &--gray > &__link {
    color: var(--slategray_50);
  }

  &--gray > &__link > &__link__arrow {
    fill: var(--slategray_50);
  }
}
