@import 'button.css';

.ruiButtonGroup {
  display: inline-flex;

  & > :--button {
    flex: 0 1 auto;
  }

  /* noraml */
  &:not(&--collapse):not(&--vertical) {
    & > :--button:not(:first-child) {
      margin-left: .5em;
    }
  }

  /* collapse */
  &--collapse:not(&--vertical) {
    & > :--button:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    & > :--button:not(:first-child) {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  /* vertical */
  &--vertical {
    flex-direction: column;

    & > :--button {
      display: block;
      width: 100%;

      &:not(:first-child) {
        margin-top: .5em;
      }
    }
  }

  /* block */
  &--block {
    display: flex;

    & > :--button {
      flex: 1 0 auto;
    }
  }

  /* size */
  &--small > :--button {
    @apply --button-small;
  }

  &--large > :--button {
    @apply --button-large;
  }
}
