.ruiList {
  display: inline-flex;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    position: relative;
    color: var(--slategray_50);
    font-weight: 700;
    list-style: none;
    vertical-align: middle;

    &:not(:first-child) {
      padding-left: 17px;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 8px;
        width: 1px;
        height: 1em;
        background: var(--slategray_10);
        content: '';
      }
    }

    &--active {
      color: var(--slategray_90);
    }
  }

  &--dotted > &__item:not(:first-child) {
    padding-left: 13px;
    &::before {
      top: 50%;
      left: 5px;
      width: 3px;
      height: 3px;
      transform: translateY(-50%);
      border-radius: 50%;
      background: var(--slategray_20);
      line-height: 1em;
    }
  }
}
