@import 'forms.css';

:root {
  --radio_size: 18px;
  --radio_check_size: calc(var(--radio_size) / 3);
}

.ruiRadio,
.ruiCheckbox {
  &__input {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    opacity: 0;
    appearance: none;
    clip: rect(0, 0, 0, 0);
  }

  /* label */
  &__label {
    display: inline-block;
    position: relative;
    color: var(--slategray_60);
    font-weight: 700;
    cursor: pointer;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__input:checked + &__label {
    color: var(--slategray_90);
  }

  &__input:disabled + &__label {
    color: var(--slategray_20);
    cursor: default;
  }

  /* icon */
  &__icon {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 1.38em;
    height: 1.38em;
    margin-right: .3em;
    border: 1px solid var(--slategray_20);
    border-radius: 2px;
    background: #fff;
    vertical-align: middle;
  }

  &__input:focus + &__label > &__icon,
  &__input:hover + &__label > &__icon {
    @apply --form-element-focus;
  }

  &__input:checked + &__label > &__icon {
    border-color: var(--dodgerblue_60);
    background: var(--dodgerblue_50);
  }

  &__input:disabled + &__label > &__icon {
    @apply --form-element-disabled;
  }
}

/* checkbox icon */
.ruiCheckbox {
  &__check {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: .77em;
    height: .77em;
    transform: translate(-50%, -50%);
    visibility: hidden;
    fill: #fff;
  }

  &__input:checked + &__label > &__icon > &__check {
    visibility: visible;
  }
}

/* radio button icon */
.ruiRadio {
  &__icon {
    border-radius: 50%;
  }

  &__icon::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: .46em;
    height: .46em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #fff;
    content: '';
    visibility: hidden;
  }

  &__input:checked + &__label > &__icon::before {
    visibility: visible;
  }
}
