language: node_js
node_js: '8'
script: yarn build
deploy:
  provider: npm
  email: performance.team@ridi.com
  api_key: $NPM_TOKEN
  on:
    tags: true
    repo: ridi/rsg
    branch: master
  skip_cleanup: true
  script: npm publish
