.RUI_TextInput {
  @apply --reset-appearance;
  @apply --reset-font;
  @apply --reset-layout;

  box-sizing: border-box;
  display: inline-block;
  border: 1px solid var(--slategray_20);
  border-radius: 3px;
  outline: none;
  background: white;
  color: var(--slategray_90);
  font-size: 13px;
  font-weight: 700;
  transition: border-color .2s, box-shadow .2s;

  &:disabled {
    @apply --RUIFormElement-disabled;
  }
}

.RUI_TextInput {
  padding: .6em;
  line-height: 1em;
}

.RUI_TextInput:not(:disabled):focus {
  @apply --RUIFormElement-focus;
}
.RUI_TextInput:not(:disabled):hover {
  @apply --RUIFormElement-hover;
}
