.RSGBookMetadata .RSGBookMetadata_Badge {
  display: inline-block;
  margin: 8px 4px 0 0;
  padding: 3px 5px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 0;
  vertical-align: top;
  &::after {
    display: block;
    background-size: cover;
    content: '';
  }

  &.RSGBookMetadata_Badge-type-somedeal {
    width: 24px;
    height: 12px;
    padding: 2px 3px;
    border-color: #757aa2;
    background: #e7e9ff;
    &::after {
      width: 24px;
      height: 12px;
      background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20104%2048%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%234E55A2%22%3E%3Cpath%20d%3D%22M90.096%204.806h12.975l-8.852%2013.166h8.336L85.498%2041.587l4.598-16.695h-8.111l8.111-20.086zM17.89%2015.607V8.239h4.229v7.368c1.785%202.005%203.574%204.054%205.405%206.06l-2.659%202.266-4.84-5.014-5.537%205.407-5.362-5.407-5.493%205.798c-.915-.828-1.831-1.613-2.704-2.442l6.104-6.67V8.236h4.229v7.369c1.046%201.22%202.179%202.397%203.227%203.619%201.177-1.219%202.266-2.397%203.401-3.617zm19.966%2027.248H21.203V28.599h16.653v14.256zm-12.557-3.403h8.415v-7.453h-8.415v7.453zm8.459-24.15h-7.193v-3.489h7.193V5.23c-1.264-.785-2.486-1.614-3.75-2.354.48-.96%201.046-1.918%201.569-2.876%202.092%201.045%204.272%202.048%206.365%203.096v21.841h-4.184v-9.635zm15.036%205.144h11.463v3.489H44.566V8.065h14.342v3.488H48.794v8.893zm6.846%2016.087h12.208v-4.575H55.64v-3.443h16.393v11.202H59.868v4.8h11.265L72.948%2048H55.64V36.533zM67.801%205.231c-1.219-.785-2.482-1.613-3.704-2.354L65.624%200l6.408%203.096v21.841h-4.231V5.231z%22/%3E%3C/svg%3E) #e7e9ff no-repeat center;
    }
  }

  &.RSGBookMetadata_Badge-type-comic {
    width: 18px;
    height: 10px;
    border-color: #0f5d9c;
    background: white;
    &::after {
      width: 18px;
      height: 10px;
      background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2020%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%230f5d9c%22%3E%3Cpath%20d%3D%22M.355%206.01V.973h5.001V6.01H.355zm1.115%204.521V7.114h1.403v2.303h5.781v1.115H1.47zm2.495-8.467H1.746v2.842h2.219V2.064zm4.437%201.139h1.523v1.164H8.402v3.538H6.975V.157h1.427v3.046zM13.84%207.293v.696c.948-.06%201.799-.12%202.435-.204.036.348.06.72.108%201.067a47.982%2047.982%200%200%201-3.61.336c-.852.036-1.799.072-2.843.072l-.191-1.163c.888%200%201.799%200%202.687-.036v-.756c-1.115-.18-1.883-.851-1.883-1.763%200-1.067%201.079-1.799%202.542-1.799%201.475%200%202.542.732%202.542%201.799%200%20.887-.72%201.535-1.787%201.751zm-3.802-3.886V2.34h6.093v1.067h-6.093zM11.61.805h3.022v1.079H11.61V.805zm1.475%204.006c-.66%200-1.127.324-1.127.731%200%20.396.468.744%201.127.744.671%200%201.151-.348%201.151-.744%200-.407-.48-.731-1.151-.731zm5.181-.288h1.379v1.151h-1.379v5.169h-1.391V.157h1.391v4.366z%22/%3E%3C/svg%3E) white no-repeat center;
    }
  }

  &.RSGBookMetadata_Badge-type-novel {
    width: 18px;
    height: 10px;
    border-color: #cb3256;
    background: white;
    &::after {
      width: 18px;
      height: 10px;
      background: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2020%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23cb3256%22%3E%3Cpath%20d%3D%22M.529%209.554V8.45h4.09V5.908h1.415V8.45h4.15v1.104H.529zM9.248%206.04C7.784%205.704%205.962%204.589%205.35%203.185c-.552%201.44-2.423%202.531-3.886%202.855L.828%204.901C2.567%204.649%204.63%203.305%204.63%201.399V.751h1.463v.648c0%201.883%202.195%203.274%203.814%203.538L9.248%206.04zM15.897%205.512c-.815-.312-1.919-1.127-2.375-2.111-.324%201.092-1.487%202.051-2.495%202.387l-.804-1.043c1.535-.563%202.542-1.799%202.542-3.418V.535h1.463v.72c0%201.643%201.211%202.818%202.447%203.214l-.778%201.043zm-3.778%205.289V7.959h5.625v-.696h-5.685V6.148h7.088V8.99h-5.613v.684h5.937v1.127h-7.352zm5.625-5.193V3.245h-1.823V2.118h1.823V.199h1.403v5.409h-1.403z%22/%3E%3C/svg%3E) white no-repeat center;
    }
  }
}
