/* layout 분기 */
.RSGBookMetadata {
  @nest .RSGBookMetadata-layout-landscape& { /* 가로형 Metadata */
    & .RSGBookMetadata_Badge-type-somedeal {
      margin-bottom: 6px;
    }
    & .RSGBookMetadata_Title {
      color: black;
      font-size: 15px;
    }
    & .RSGBookMetadata_SubTitle,
    & .RSGBookMetadata_Info {
      margin-top: 6px;
    }
    & .RSGBookMetadata_StarRate,
    & .RSGBookMetadata_Authors,
    & .RSGBookMetadata_SeriesCount,
    & .RSGBookMetadata_Publisher {
      display: inline-block;
      position: relative;
      height: 1em;
      padding: 0 5px 0 4px;
      line-height: 1em;
      &::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 10px;
        margin-top: -5px;
        background: #e6e6e6;
        content: '';
      }
    }
    & .RSGBookMetadata_StarRate {
      padding-left: 0;
    }
    & .RSGBookMetadata_Publisher::after {
      display: none;
    }
    & .RSGBookMetadata_SeriesComplete {
      margin-top: -1px;
    }
    & .RSGBookMetadata_Description {
      margin-top: 7px;
    }
    & .RSGBookMetadata_Price {
      margin-top: 8px;
    }
    & .RSGBookMetadata_Badge {
      margin-top: 12px;
    }
  }

  @nest .RSGBookMetadata-layout-portrait& { /* 세로형 Metadata */
    & .RSGBookMetadata_SubTitle,
    & .RSGBookMetadata_Authors,
    & .RSGBookMetadata_StarRate,
    & .RSGBookMetadata_SeriesCount,
    & .RSGBookMetadata_Publisher {
      margin-top: 3px;
    }
    & .RSGBookMetadata_Authors {
      line-height: 1.3em;
    }
    & .RSGBookMetadata_Description {
      margin-top: 6px;
    }
    & .RSGBookMetadata_Price {
      margin-top: 6px;
      & .RSGBookMetadata_PriceColumn-type-book .PriceRow_RegularPrice {
        display: none;
      }
      & .RSGBookMetadata_PriceColumn-type-series {
        display: none;
      }
      & .PriceRow_Label,
      & .PriceRow_LastPrice,
      & .PriceRow_DiscountPercentage,
      & .PriceRow_RegularPrice {
        height: 1.4em;
      }
    }
  }

  @nest .RSGBook-layout-landscape .RSGBookMetadata-layout-portrait& { /* 가로형 RSGBook + 세로형 Metadata */
    & .RSGBookMetadata_Info {
      margin-top: 6px;
    }
    & .RSGBookMetadata_SubTitle {
      font-size: 12px;
    }
    & .RSGBookMetadata_Badge {
      margin-top: 12px;
    }
  }

  @nest .RSGBook-layout-portrait & { /* 세로형 RSGBook + 세로형 Metadata */
    &.RSGBookMetadata-layout-portrait {
      &.RSGBookMetadata-width-50,
      &.RSGBookMetadata-width-60,
      &.RSGBookMetadata-width-70,
      &.RSGBookMetadata-width-80 {
        & .StarRate_ParticipantCount_Unit {
          @apply --display-hidden;
        }
      }
    }
  }
}
