.RSGBookMetadata {
  @nest &,
  & div,
  & p,
  & ol,
  & ul,
  & li,
  & table,
  & thead,
  & tbody,
  & th,
  & td {
    @apply --reset-layout;
  }

  & p,
  & li,
  & th,
  & td {
    @apply --reset-font;
  }

  & a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  & ol,
  & ul {
    list-style: none;
  }

  & table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
