.RSGBookMetadata {
  font-size: 13px;
  color: var(--gray_60);
}

.RSGBookMetadata_Title,
.RSGBookMetadata_SubTitle {
  color: var(--gray_80);
  @apply --lineClamp;
  max-height: 2.8em;
  line-height: 1.4em;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.RSGBookMetadata_Title {
  font-weight: 700;
}

.RSGBookMetadata_Description {
  @apply --lineClamp;
  max-height: 4.5em;
  line-height: 1.5em;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.RSGBookMetadata_Authors_Item {
  word-break: break-all;
}

.RSGBookMetadata_SeriesCount_Complete {
  box-sizing: border-box;
  display: inline-block;
  width: 24px;
  height: 14px;
  margin-left: 4px;
  border-radius: 2px;
  background: #aaa;
  color: white;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
}
