.RSGBookMetadata_Price {
  font-size: 12px;
  line-height: 1.4em;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
}

.RSGBookMetadata_Price_Column {
  flex: 0 0 auto;
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.RSGBookMetadata_Price_Row {
  & > * {
    display: inline;
  }
  & > :not(:last-child) {
    margin-right: 4px;
  }
}

.RSGBookMetadata_Price_CurrentPrice {
  color: #1f8ce6;
  font-weight: 700;
}

.RSGBookMetadata_Price_DiscountPercentage {
  color: #eb5847;
  font-weight: 700;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}
