.RSGBookThumbnail_CircleBadge {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);

  &.RSGBookThumbnail_CircleBadge-type-rental {
    border: 1px solid #15967d;
    background: #1abc9c;
  }

  &.RSGBookThumbnail_CircleBadge-type-freebook {
    border: 1px solid #15967d;
    background: #1abc9c;
  }

  &.RSGBookThumbnail_CircleBadge-type-discount {
    border: 1px solid #0077d9;
    background: #1f8ce6;
  }

  &.RSGBookThumbnail_CircleBadge-effect-glow { /* 무료 도서가 일정 권수 이상일 경우 강조 효과 */
    width: 44px;
    height: 44px;
    box-shadow: 0 0 10px 0 rgba(26, 188, 156, .6);
    &::before {
      box-sizing: border-box;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #f9ff60;
      border-radius: 44px;
      content: '';
    }
  }

  &.RSGBookThumbnail_CircleBadge-small {
    width: 32px;
    height: 32px;
    &.RSGBookThumbnail_CircleBadge-effect-glow {
      width: 36px;
      height: 36px;
    }
  }
}

.RSGBookThumbnail_CircleBadge_TextWrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  color: white;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -.05em;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);

  @nest .RSGBookThumbnail_CircleBadge-effect-glow & {
    color: #f9ff60;
  }
}

.RSGBookThumbnail_CircleBadge_Label {
  &.RSGBookThumbnail_CircleBadge_Label-rental {
    font-size: 14px;
    @nest .RSGBookThumbnail_CircleBadge-small & {
      font-size: 12px;
    }
  }

  &.RSGBookThumbnail_CircleBadge_Label-freebookCount {
    margin-right: 4px;
    font-size: 12px;
  }

  &.RSGBookThumbnail_CircleBadge_Label-discountRate {
    font-size: 16px;
    @nest .RSGBookThumbnail_CircleBadge-small & {
      font-size: 12px;
    }
  }
}
