.RSGBookThumbnail {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.RSGBookThumbnail_Link {
  display: block;
  position: relative;
  & > :not(.RSGBookThumbnail_CoverImage):not(.RSGBookThumbnail_Wrapper-lazyloaded):not(.RSGBookThumbnail_LazyloadPlaceholder) {
    position: absolute;
  }
  &.RSGBookThumbnail_Link-keepRatio {
    width: 100%;
    height: 0;
    padding-bottom: 141.4%;
  }
}

.RSGBookThumbnail_Wrapper-lazyloaded {
  position: relative;
  & > :not(.RSGBookThumbnail_CoverImage) {
    position: absolute;
  }
}

.RSGBookThumbnail_CoverImage {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-height: inherit;
  background-color: var(--slategray_20);

  &.RSGBookThumbnail_CoverImage-placeholder {
    position: absolute;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
  }
}

.RSGBookThumbnail_CoverImage_Shadow {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, .1) 0,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, .1) 100%
    );
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.RSGBookThumbnail_AdultOnlyBadge {
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA3lBMVEUAAAD///////////////////////////////////////////////////////////////////////81NTVCQkJQUFBdXV1ra2t4eHiGhoaTk5OhoaGurq68vLzJycnX19fgO0TgPEXhQEjhQkvhQ0viRk7iR0/jT1fk5OTlWWHmYmnmY2robXTpc3rqeX/qeoDqfILrgofshYrtjpPvmp7xpqryrrHyrrLy8vL0u771vsH2yMr3zM/41Nb64OL64eL74+X75OX99fX+9/f+9/j++vv//Pz//f3//v7///+wMepRAAAAE3RSTlMABQgPGiRAZ4STpaa2wd3s8vT81+Bq9AAAAgRJREFUOMuVVeta4jAQLYrI/daKS7uUQQEBhZXbchNcQBbO+7+QkzY0RcpnPX+STk5OZiaTqab5EYnF09kCUMim47GIdgk3iRx8yCVuAmnRZBHYLka9Trvd6Y0WW6CYjJ7zbvPAsl8nD/X+EsjffqFdpYD3rsuoNZs1d9ZdAakrP+86g8P4gZcag9l6D+zXs0GDPx/GB2SufXoZ7F7Z/jT5ULF8TJ7Y9LpDRmmmsHth43CDE2yGbHzZIeXFgQPrPc5xhvkjax4gI4rmMWbeGwLwxswx8m6WknjnOOYIxJwjWiHp3EcRnJchLoD97KIo7iiBJce7uUTccOxLJLgOcugT/ZXmlmXL8de9nE6I+shFtBi2dWq4+bPLum6JyW/dQdnJZ4PqW8S0OBZEA2e1JBYFsaJLOLsGRAvEtTRGRDOlItbudN2oVHifIYgzohHSWhZ/iP7x99Q4ElvuIHSFm2uiHrJaAc9E/8VOy6y6DNtl2FJ/X6MOChrQpuYxF0rRdH1xnGxSGwgiCh/1silcqSiiOloRrWPUjo/yaC8YHxEWqxlCFyoYLz1+IkdiVw2ZcZkelfCS/zzYQrDlS7i6Qp9jU9O7Je8KVVHcK6LtjOZJUQSWmSCW7NMyCyzcqWVVzwo39FMI/7hCP9fwDSB8SwndpNy2twrR9sI30h+05vDN/pvfxyfpvPzVV3w0fwAAAABJRU5ErkJggg==);
  background-size: cover;

  &.RSGBookThumbnail_AdultOnlyBadge-small {
    top: 2px;
    right: 2px;
    width: 15px;
    height: 15px;
  }
}
