body {
  background: #f0f0f0;
}

#page_svg_colorfilter {
  margin: 50px auto;
  width: 912px;
  color: #495057;
  font-family: -apple-system, BlinkMacSystemFont, Lato, Verdana, Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 28px;
  margin: 14px 4px;
}

div.color_panel {
  text-align: center;
  font-size: 0;
}

.color_panel p {
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 10px;
  background: #bbb;
  vertical-align: top;
  font-size: 0px;
  text-align: left;
  margin: 0 4px;
}

div.filtered_canvas {
  display: inline-block;
  background: white;
  width: 220px;
  height: 220px;
  padding: 0;
  position: relative;
  margin: 0 4px;
}

p.canvas_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

div.control_panel {
  /*margin-top: 80px;*/
  font-size: 14px;
  line-height: 2.2em;
}

form {
  float: left;
  width: 456px;
  /*margin: 4px;*/
}

legend {
  display: none;
  padding: 0;
  font-size: 14px;
}

fieldset {
  border: 0;
  padding: 0 10px;
  margin: 0 4px;
  min-width: 0;
  width: 200px;
  height: 200px;
  float: left;
  background: white;
}

.css_to_copy {
  position: absolute;
  left: -9999px;
}

div:after {
  content: '';
  display: block;
  clear: both;
}