<!DOCTYPE html>
<html lang="en" ng-app="findTheColor">
<head>
  <meta charset="UTF-8">
  <title>Find the color</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../../rui/css/page.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="../../rui/css/navigation.css"/>
  <link rel="stylesheet" href="app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div class="header_wrapper">
    <h1 class="header_title"><a href="//ridibooks.com">RIDI Web</a></h1>
    <ul class="navigation_wrapper">
      <li><span class="submenu_toggle_button">Icon ▾</span>
        <ul class="submenu">
          <li><a href="../svg-icon">SVG Icon</a></li>
          <li><a href="../ridi-icon/ridi-icon.html">Icon Font</a></li>
        </ul>
      </li>
      <li><a href="../color-chips.html">ColorChips ▸</a></li>
      <li><a href="./">SVG ColorFilter ▸</a></li>
      <li><a href="../../rui" target="_blank">RUI ▸▸</a></li>
    </ul>
  </div>
  <section id="page_svg_colorfilter" ng-controller="AppController" ng-init="init()">
    <h1>Find the color</h1>
    <div class="color_panel">
      <p class="base" ng-style="baseStyle">Base color</p>
      <p class="target" ng-style="targetStyle">Target color</p>
      <p class="filtered_css" ng-style="filteredStyle">Filtered color: CSS</p>
      <div class="filtered_canvas">
        <canvas id="filtered_canvas" width="220" height="220"></canvas>
        <p class="canvas_overlay">Filtered color: Canvas</p>
      </div>
    </div>
    <div class="control_panel">
      <form>
        <legend>Colors</legend>
        <fieldset class="basecolor">
          <label for="basecolor">Base color</label><br>
          HEX: # <input type="text" id="basecolor" placeholder="818a92" ng-model="color.baseHEX" ng-change="convertColor(color.baseHEX, 'base')"/><br/>
          <span>RGB: {{ color.baseRGB }}</span><br/>
          <span>HSL: {{ color.baseHSL }}</span><br/>
        </fieldset>
        <fieldset class="targetcolor">
          <label for="targetcolor">Target color</label><br>
          HEX: # <input type="text" id="targetcolor" placeholder="0282da" ng-model="color.targetHEX" ng-change="convertColor(color.targetHEX, 'target')"/><br/>
          <span>RGB: {{ color.targetRGB }}</span><br/>
          <span>HSL: {{ color.targetHSL }}</span><br/>
        </fieldset>
        <button type="button" ng-click="calculate()">Calculate!</button>
      </form>
      <form>
        <fieldset>
          <legend>CSS filter</legend>
          <label for="hueRotation">Hue Rotation</label>
          <input type="number" class="hueRotation" id="hueRotation" placeholder="0" ng-model="filter.hueRotation" ng-change="applyFilter()"> deg
          <label for="saturation">Saturation</label>
          <input type="number" class="saturation" id="saturation" placeholder="100" ng-model="filter.saturation" ng-change="applyFilter()"> %<br/>
          <label for="brightness">Brightness</label>
          <input type="number" class="brightness" id="brightness" placeholder="100" ng-model="filter.brightness" ng-change="applyFilter()"> %<br/>
        </fieldset>
        <fieldset>
          <p>RGB: {{ color.appliedRGB[0] }}, {{ color.appliedRGB[1] }}, {{ color.appliedRGB[2] }}</p>
          <input type="text" class="css_to_copy" id="css_to_copy" ng-model="cssToCopy"/>
        </fieldset>
        <button type="button" ng-click="copyFilterCSS()">Copy filter CSS!</button>
      </form>
    </div>
  </section>
</body>
</html>
