/* 원형 뱃지 : 대여, 무료, 할인 */
.RSGBookThumbnail_CircleBadge {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 40px;
  background: black;
  line-height: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
  z-index: 20;
  & .CircleBadge_Label {
    color: white;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    vertical-align: top;
  }
  & .CircleBadge_HiddenElement {
    @apply --display-hidden;
  }
}

.RSGBookThumbnail_CircleBadge-type-rental {
  border-color: #15967d;
  background: #1abc9c;
  & .CircleBadge_Label {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1em;
    margin-top: -.5em;
    font-size: 14px;
    line-height: 1em;
  }
}

.RSGBookThumbnail_CircleBadge-type-freebook {
  border-color: #15967d;
  background: #1abc9c;
  & .CircleBadge_Label {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2.6em;
    margin-top: -1.3em;
  }
  & .CircleBadge_FreeCount {
    @apply --fontFamily-museoSans;

    padding-right: 1px;
    font-size: 12px;
    vertical-align: -5%;
  }
}

.RSGBookThumbnail_CircleBadge-type-discount {
  border-color: #0077d9;
  background: #1f8ce6;
  & .CircleBadge_Label {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1em;
    margin-top: -.5em;
    transform: translateY(-1px);
    letter-spacing: -.05em;
    line-height: 1em;
  }
  & .CircleBadge_DiscountRate {
    @apply --fontFamily-museoSans;

    padding-right: 1px;
    font-size: 16px;
    font-weight: 700;
  }
}

.RSGBookThumbnail_CircleBadge-effect-glow { /* 무료 도서가 일정 권수 이상일 경우 강조 효과 */
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border-color: #15967d;
  background: #1abc9c;
  box-shadow: 0 0 10px 0 rgba(26, 188, 156, .6);
  &::before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #f9ff60;
    border-radius: 44px;
    content: '';
  }
  & .CircleBadge_Label {
    color: #f9ff60;
  }
}

/* 원형 뱃지 사이즈 분기 */
.RSGBookThumbnail-size-50,
.RSGBookThumbnail-size-60,
.RSGBookThumbnail-size-70 {
  & .RSGBookThumbnail_CircleBadge {
    width: 32px;
    height: 32px;
  }

  & .RSGBookThumbnail_CircleBadge-type-rental .CircleBadge_Label {
    font-size: 12px;
  }

  & .RSGBookThumbnail_CircleBadge-type-discount .CircleBadge_Label {
    transform: none;
  }

  & .RSGBookThumbnail_CircleBadge-type-discount .CircleBadge_DiscountRate {
    font-size: 12px;
  }

  & .RSGBookThumbnail_CircleBadge-effect-glow {
    width: 36px;
    height: 36px;
  }
}
