
.RUIPopup {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 0;
  &.active {
    height: auto;
    & .RUIPopup_Dimmed_Bg {
      width: 100%;
      height: 100%;
      opacity: 0.3;
    }
    & .RUIPopup_Contents {
      transform: translateY(-50%);
      opacity: 1;
    }
  }
}

.RUIPopup_Dimmed_Bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--bluegray_100) left top repeat;
  transition: opacity .3s;
  opacity: 0;
}
.RUIPopup_Contents {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 300px;
  margin-left: -153px;
  border: 3px solid black;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s;
  opacity: 0;
}
.RUIPopup_Alert {
  @apply --reset-layout;
  position: relative;
  padding: 12px 12px 12px 30px;
  background: var(--brown_5);
  font-size: 12px;
  color: var(--brown_70);
  border-bottom: 1px solid var(--brown_10);
}
.RUIPopup_Alert_Icon {
  position: absolute;
  top: 11px;
  left: 10px;
  width: 13px;
  height: 13px;
  margin-right: 2px;
  vertical-align: -13%;
  fill: var(--brown_70);
}

.RUIPopup_Header_Nav {
  position: relative;
  height: 34px;
  padding: 0 10px;
  background: #41474c;
  border-radius: 3px 3px 0 0;
}
.RUIPopup_Title {
  @apply --reset-layout;
  @apply --reset-font;
  padding: 9px 0 10px 0;
  color: var(--slategray_20);
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}
.RUIPopup_Close_Button {
  @apply --reset-layout;
  @apply --reset-appearance;
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
  height: 33px;
  padding: 10px 8px 11px 13px;
  background: none;
  cursor: pointer;
  & .RUIPopup_Close_Icon {
    fill: var(--slategray_30);
    width: 12px;
    height: 12px;
    display: block;
    transition: filter .2s;
  }
  &:hover .RUIPopup_Close_Icon {
    filter: hue-rotate(2deg) saturate(56%) brightness(119%);
  }
}

.RUIPopup_Header_TabList {
  @apply --reset-layout;
  list-style: none;
  border-top: 1px solid var(--slategray_20);
}
.RUIPopup_Header_Tab {
  @apply --reset-layout;
  width: 50%;
  display: inline-block;
  &:last-child {
    border-left: 1px solid var(--slategray_20);
    margin-left: -1px;
  }
}
.RUIPopup_Header_TabButton {
  @apply --reset-layout;
  @apply --reset-appearance;
  @apply --reset-font;
  width: 100%;
  text-align: center;
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: var(--slategray_50);
  font-weight: normal;
  background: var(--lightsteelblue_5);
  border-bottom: 1px solid var(--slategray_20);
  .count {
    color: var(--slategray_50);
  }
  &.active {
    color: black;
    background: white;
    border-bottom: 1px solid var(--slategray_5);
    .count {
      color: var(--slategray_60);
    }
  }
}
.RUIPopup_Body {
  background: white;
}
.RUIPopup_Body_Paragraph {
  @apply --reset-font;
  @apply --reset-layout;
  font-size: 13px;
}
.RUIPopup_Footer {
  background: white;
}
.RUIPopup_Footer_hr {
  display: block;
  margin: 0 10px;
  border-style: solid;
  border-color: var(--slategray_20);
  border-width: 1px 0 0 0;
}
.RUIPopup_ButtonsWrapper {
  @apply --reset-layout;
  list-style: none;
  text-align: center;
  padding: 8px 10px;
}
.RUIPopup_ButtonsList {
  @apply --reset-layout;
  display: inline-block;
  padding: 0 2px;
  & .RUIButton {
    width: 100px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}
.RUIPopup_LastBlock {
  border-radius: 0 0 3px 3px;
}
