.RUIGroup_Element {
  position: relative;
  z-index: 1;
  &:not(:disabled):focus,
  &:not(:disabled):active {
    z-index: 2;
  }
}

.RUIGroup-vertical {
  & > .RUIGroup_Element {
    display: block;
    margin: -1px 0 0 0;
    border-radius: 0;
  }
  & > .RUIGroup_Element:first-child {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  & > .RUIGroup_Element:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.RUIGroup-horizontal {
  white-space: nowrap;
  & > .RUIGroup_Element {
    margin: 0 0 0 -1px;
    border-radius: 0;
  }
  & > .RUIGroup_Element:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  & > .RUIGroup_Element:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
