:root {
  --lineClamp: {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    display: block;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.museoSans {
  font-family: museo_sans, 'Helvetica Neue', 'Apple SD Gothic Neo', arial, '나눔고딕', 'Nanum Gothic', '돋움', Dotum, Tahoma, Geneva, sans-serif;
}
