.RUITabs {
  @apply --reset-layout;

  width: 100%;
  border-bottom: 2px solid var(--slategray_20);
  list-style: none;

  &.RUITabs-flex {
    display: flex;
  }
}

.RUITab {
  @apply --reset-layout;
  @apply --reset-font;

  display: inline-block;
  font-size: 13px;

  @nest .RUITabs-flex & {
    flex: 1 0 auto;
  }
}

.RUITab_Button {
  @apply --reset-appearance;
  @apply --reset-layout;
  @apply --reset-font;

  display: block;
  position: relative;
  margin-left: 1em;
  padding: .6em 0;
  color: var(--slategray_50);
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: color .2s;

  &::before {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--slategray_20);
    content: '';
    transition: height .1s, background .1s;
  }

  @nest .RUITab:first-child & {
    margin-left: 0;
  }
  @nest .RUITabs-flex & {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  &.active {
    color: var(--slategray_80);
    &::before {
      @nest .RUITabs-activeColor-black & {
        height: 2px;
        background: black;
      }
      @nest .RUITabs-activeColor-blue & {
        height: 3px;
        background: var(--dodgerblue_50);
      }
      @nest .RUITabs-flex.RUITabs-activeColor-blue & {
        height: 4px;
      }
    }
  }
}

.RUITab_Button:not(.active):active {
  color: var(--slategray_70);
}

.RUITab_Button:not(.active):hover {
  @nest .inputMethod-mouse & {
    color: var(--slategray_70);
  }
  @nest .inputMethod-mouse .RUITabs-activeColor-black & {
    &::before {
      height: 2px;
      background: var(--slategray_50);
    }
  }
  @nest .inputMethod-mouse .RUITabs-activeColor-blue & {
    &::before {
      height: 3px;
      background: var(--slategray_50);
    }
  }
  @nest .inputMethod-mouse .RUITabs-flex.RUITabs-activeColor-blue & {
    &::before {
      height: 4px;
    }
  }
}
