.THRButtonGroup-vertical {
  & > .THRButton {
    display: block;
    margin-top: .5em;
    &:first-child {
      margin-top: 0;
    }
  }
  &.THRButtonGroup-collapsed {
    & > .THRButton {
      margin: -1px 0 0 0;
      border-radius: 0;
    }
    & > .THRButton:first-child {
      margin-top: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    & > .THRButton:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.THRButtonGroup-horizontal {
  display: flex;
  flex-direction: row;
  & > .THRButton {
    margin-left: .5em;
    flex: 0 1 auto;
    &:first-child {
      margin-left: 0;
    }
  }
  &.THRButtonGroup-collapsed {
    & > .THRButton {
      margin: 0 0 0 -1px;
      border-radius: 0;
    }
    & > .THRButton:first-child {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    & > .THRButton:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
