.ReadingProgressBar {
  @apply --reset-layout;
  position: relative;
  width: 80px;
  height: 4px;
  border-radius: 4px;
  background: #d1d5d9;
  overflow: hidden;
  @nest .Thumbnail & {
    width: 100%;
    margin-bottom: 8px;
  }
}

.ReadingProgressBar_Progress {
  display: block;
  width: 0;
  height: 100%;
  border-radius: 4px;
  background: #808991;
  font-size: 0;
  color: #808991;
}