@custom-selector :--button .ruiButton;

:root {
  --button-small: {
    line-height: 1.91em;
  }
  --button-large: {
    line-height: 3.12em;
  }
}

.ruiButton {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  font-weight: 700;
  line-height: 2.38em;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  vertical-align: baseline;
  appearance: none;

  /* element */
  &__icon {
    display: block;
    height: 1em;
    margin: .65em;
    color: inherit;

    &--inline {
      display: inline-block;
      margin: 0;
      margin-right: .5em;
      vertical-align: 0;
    }
  }

  &__spinner {
    width: 1em;
    height: 1em;
  }

  /* size */
  &--block {
    display: block;
    width: 100%;
  }

  &--small {
    @apply --button-small;
  }

  &--large {
    @apply --button-large;
  }

  /* color */
  &--blue {
    background: var(--dodgerblue_50);
    color: #fff;
  }
  &--blue > &__icon {
    fill: #fff;
  }

  &--blue&--outline {
    background: #fff;
    color: var(--dodgerblue_50);
    box-shadow: inset 0 0 1px var(--dodgerblue_50);
  }
  &--blue&--outline > &__icon {
    fill: var(--dodgerblue_50);
  }

  &--gray {
    background: var(--slategray_60);
    color: #fff;
  }
  &--gray > &__icon {
    fill: #fff;
  }

  &--white {
    background: #fff;
    color: var(--slategray_50);
    box-shadow: inset 0 0 1px var(--slategray_20);
  }
  &--white > &__icon {
    fill: var(--slategray_50);
  }

  &--brown {
    background: var(--brown_50);
    color: #fff;
    box-shadow: inset 0 0 1px var(--brown_70);
  }
  &--brown > &__icon {
    fill: #fff;
  }
}
