@import '../common/customProperties.css';
@import '../common/base64Images.css';
:root {
  --borderColor-gray: var(--slategray_50);
  --fillColor-gray: var(--slategray_50);
  --fillColor-gray-lighten: var(--slategray_10);
  --fillColor-gray-darken: var(--slategray_60);
  --borderColor-blue: var(--dodgerblue_50);
  --fillColor-blue: var(--dodgerblue_50);
  --fillColor-blue-lighten: var(--dodgerblue_10);
  --fillColor-blue-darken: var(--dodgerblue_60);
  --borderColor-brown: var(--brown_60);
  --fillColor-brown: var(--brown_50);
  --fillColor-brown-lighten: var(--brown_10);
  --fillColor-brown-darken: var(--brown_60);
}

.RUIButton {
  @apply --reset-font;
  @apply --reset-appearance;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 1px solid var(--borderColor-gray); /* default value for RUIButton-color-gray */
  border-radius: 4px;
  outline: none;
  background: var(--fillColor-gray); /* default value for RUIButton-color-gray && RUIButton-fill-true */
  color: white; /* default value for RUIButton-color-gray && RUIButton-fill-true */
  font-size: 13px;
  font-weight: 700;
  line-height: 2.38em; /* default value for RUIButton-size-medium */
  text-align: center;
  white-space: nowrap;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  vertical-align: baseline;

  & .RUIButton_SVGIcon {
    display: inline-block;
    height: 1em;
    margin: 0;
    vertical-align: 0;
    fill: white; /* default value for RUIButton-color-gray && RUIButton-fill-true */
  }

  /* color */
  &.RUIButton-color-gray {
    border: 1px solid var(--borderColor-gray);
    background: var(--fillColor-gray);
  }
  &.RUIButton-color-blue {
    border: 1px solid var(--borderColor-blue);
    background: var(--fillColor-blue);
  }
  &.RUIButton-color-brown {
    border: 1px solid var(--borderColor-brown);
    background: var(--fillColor-brown);
  }

  /* outline */
  &.RUIButton-outline {
    background: white;
    color: var(--fillColor-gray);
    & .RUIButton_SVGIcon {
      fill: var(--fillColor-gray);
    }
    @nest .RUIButton-color-gray& {
      color: var(--fillColor-gray);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-gray);
      }
    }
    @nest .RUIButton-color-blue& {
      color: var(--fillColor-blue);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-blue);
      }
    }
    @nest .RUIButton-color-brown& {
      color: var(--fillColor-brown);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-brown);
      }
    }
  }

  /* spinner */
  &.RUIButton_Spinner {
    position: relative;
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.2em;
      height: 1.2em;
      transform: translate3d(-50%, -50%, 0);
      background-image: url(var(--Spinner-color-gray));
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--fillColor-gray);
      content: '';
    }
    & .RUIButton_SVGIcon {
      fill: var(--fillColor-gray);
    }
    &.RUIButton-color-gray {
      color: var(--fillColor-gray);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-gray);
      }
      &::after {
        background-image: url(var(--Spinner-color-gray));
      }
    }
    &.RUIButton-color-blue {
      color: var(--fillColor-blue);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-blue);
      }
      &::after {
        background-image: url(var(--Spinner-color-blue));
      }
    }
    &.RUIButton-color-brown {
      color: var(--fillColor-brown);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-brown);
      }
      &::after {
        background-image: url(var(--Spinner-color-brown));
      }
    }
    &.RUIButton-outline {
      color: white;
      & .RUIButton_SVGIcon {
        fill: white;
      }
    }
  }

  /* size */
  &.RUIButton-size-small {
    line-height: 1.91em;
  }
  &.RUIButton-size-medium {
    line-height: 2.38em;
  }
  &.RUIButton-size-large {
    line-height: 3.12em;
  }

  /* disabled */
  &:disabled {
    cursor: default;
    opacity: .5;
  }
}

/* active, hover color */
.RUIButton:not(:disabled):active,
.inputMethod-mouse .RUIButton:not(:disabled):hover { /* wrapper의 class name 이 inputMethod-mouse 일 때에만 hover 적용 */
  background: var(--fillColor-gray-darken);
  transition: background .2s, color .2s;

  & .RUIButton_SVGIcon {
    transition: fill .2s;
  }
  &.RUIButton-color-gray {
    background: var(--fillColor-gray-darken);
    &.RUIButton-outline {
      background: var(--fillColor-gray-lighten);
    }
  }
  &.RUIButton-color-blue {
    background: var(--fillColor-blue-darken);
    &.RUIButton-outline {
      background: var(--fillColor-blue-lighten);
    }
  }
  &.RUIButton-color-brown {
    background: var(--fillColor-brown-darken);
    &.RUIButton-outline {
      background: var(--fillColor-brown-lighten);
    }
  }
  &.RUIButton_Spinner.RUIButton-color-gray {
    color: var(--fillColor-gray-darken);
    & .RUIButton_SVGIcon {
      fill: var(--fillColor-gray-darken);
    }
    &.RUIButton-outline {
      color: var(--fillColor-gray-lighten);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-gray-lighten);
      }
    }
  }
  &.RUIButton_Spinner.RUIButton-color-blue {
    color: var(--fillColor-blue-darken);
    & .RUIButton_SVGIcon {
      fill: var(--fillColor-blue-darken);
    }
    &.RUIButton-outline {
      color: var(--fillColor-blue-lighten);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-blue-lighten);
      }
    }
  }
  &.RUIButton_Spinner.RUIButton-color-brown {
    color: var(--fillColor-brown-darken);
    & .RUIButton_SVGIcon {
      fill: var(--fillColor-brown-darken);
    }
    &.RUIButton-outline {
      color: var(--fillColor-brown-lighten);
      & .RUIButton_SVGIcon {
        fill: var(--fillColor-brown-lighten);
      }
    }
  }
}
