@import '../common/customProperties.css';

.RUIButtonGroup {
  /* default */
  display: inline-flex;
  & .RUIButton {
    flex: 0 1 auto;
  }
  &:not(.RUIButtonGroup-collapse):not(.RUIButtonGroup-align-vertical) {
    & .RUIButton:not(:first-child) {
      margin-left: .5em;
    }
  }

  /* collapse */
  &.RUIButtonGroup-collapse:not(.RUIButtonGroup-align-vertical) {
    & .RUIButton:not(:first-child) {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    & .RUIButton:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  /* flexBlock */
  &.RUIButtonGroup-flexBlock {
    display: flex;
    & .RUIButton {
      flex: 1 0 auto;
    }
  }

  /* vertical */
  &.RUIButtonGroup-align-vertical {
    flex-direction: column;
    & .RUIButton {
      display: block;
      width: 100%;
    }
    & .RUIButton:not(:first-child) {
      margin-top: .5em;
    }
  }
}
