@import "../common/customProperties.css";

.RUIMessageBox {
  @apply --reset-layout;
  @apply --reset-font;

  box-sizing: border-box;
  padding: 1em;
  border: 1px solid var(--slategray_10);
  background: var(--slategray_5);
  font-size: 13px;

  @nest .RUIMessageBox-align-center& {
    text-align: center;
  }
  @nest .RUIMessageBox-color-brown& {
    border: 1px solid var(--brown_10);
    background: var(--brown_5);
  }
}

.RUIMessageBox_Title {
  @apply --reset-layout;

  position: relative;
  padding-left: 44px;
  color: var(--slategray_50);
  line-height: 1.5em;

  @nest .RUIMessageBox-align-center & {
    padding-left: 0;
  }
  @nest .RUIMessageBox-color-gray & {
    color: var(--slategray_50);
  }
  @nest .RUIMessageBox-color-brown & {
    color: var(--brown_50);
  }
}

.RUIMessageBox_Description {
  @apply --reset-layout;

  position: relative;
  padding-left: 22px;
  color: var(--slategray_60);
  line-height: 1.45em;

  & + .RUIButton {
    margin-top: 1.1em;
    margin-left: 44px;
  }

  /* layout */
  @nest .RUIMessageBox_Title + & {
    margin-top: 7px;
    padding-left: 44px;
  }
  @nest .RUIMessageBox-align-center & {
    padding-left: 0;
    & + .RUIButton {
      margin-left: 0;
    }
  }
  @nest .RUIMessageBox-align-center .RUIMessageBox_Title + & {
    padding-left: 0;
  }

  /* color */
  @nest .RUIMessageBox-color-gray & {
    color: var(--slategray_60);
  }
  @nest .RUIMessageBox-color-brown & {
    color: var(--brown_60);
  }
}

.RUIMessageBox_Description_InlineLink {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.RUIMessageBox_Icon {
  /* Title Icon */
  @nest .RUIMessageBox_Title > & {
    height: 1.7em;
    fill: var(--slategray_50);
    @nest .RUIMessageBox-color-gray & {
      fill: var(--slategray_50);
    }
    @nest .RUIMessageBox-color-brown & {
      fill: var(--brown_50);
    }
    @nest .RUIMessageBox-align-center & {
      height: 1.15em;
      vertical-align: -10%;
    }
    @nest .RUIMessageBox:not(.RUIMessageBox-align-center) & {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
    }
  }

  /* Description Icon */
  @nest .RUIMessageBox_Description > & {
    height: 1.15em;
    vertical-align: -10%;
    fill: var(--slategray_50);
    @nest .RUIMessageBox-color-gray & {
      fill: var(--slategray_50);
    }
    @nest .RUIMessageBox-color-brown & {
      fill: var(--brown_60);
    }
    @nest .RUIMessageBox:not(.RUIMessageBox-align-center) & {
      position: absolute;
      top: calc(1.3em / 2);
      left: 0;
      transform: translate3d(0, -50%, 0);
    }
  }

  /* Inline Arrow Icon */
  @nest .RUIMessageBox_Description_InlineLink > & {
    height: .7em;
    fill: var(--slategray_50);
    @nest .RUIMessageBox-color-gray & {
      fill: var(--slategray_50);
    }
    @nest .RUIMessageBox-color-brown & {
      fill: var(--brown_60);
    }
  }
}
