@custom-selector :--child .ruiTab;
@custom-selector :--active-child .ruiTab--active;

:root {
  --tab-padding: 10px;
  --tab-padding-large: 15px;
}

.ruiTabs {
  position: relative;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 -2px 0 0 var(--slategray_20);

  &--blue :--active-child {
    padding-bottom: calc(var(--tab-padding) - 3px);
    border-bottom: 3px solid var(--dodgerblue_50);
  }

  &--black :--active-child {
    padding-bottom: calc(var(--tab-padding) - 2px);
    border-bottom: 2px solid #000;
  }

  &--flex {
    display: table;
    width: 100%;
    border-width: 1px;
    table-layout: fixed;

    & > :--child {
      display: table-cell;
      margin-right: 0;
      padding: var(--tab-padding-large) 0;

      &__link {
        font-size: .93em;
      }
    }

    & > :--active-child {
      padding-bottom: calc(var(--tab-padding-large) - 4px);
      border-bottom-width: 4px;
    }
  }
}

:--child {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  padding: var(--tab-padding) 0;
  line-height: 1em;
  list-style: none;
  cursor: pointer;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--slategray_50);
    font-size: 1.15em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  &--active > &__link {
    color: var(--slategray_80);
  }
}
