:root {
  --Paging-height: 30px;
}

.THRPaging {
  height: var(--Paging-height);
  margin: 0;
  padding: 20px 0 0;
  line-height: var(--Paging-height);
  text-align: center;

  & > .THRPaging_Button {
    border-radius: 3px;
    & .ArrowIcon {
      width: 6px;
      height: 9px;
      fill: #818a92;
    }
  }
}

.THRPaging_Button {
  display: inline-block;
  min-width: 42px;
  height: calc(var(--Paging-height) + 2px);
  margin-left: -1px;
  padding: 0 10px;
  line-height: var(--Paging-height);
}

.THRPaging_ButtonGroup {
  display: inline-block;
  margin: -1px 6px 0;

  & > .THRPaging_Button {
    border-radius: 0;
  }

  & > .THRPaging_Button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  & > .THRPaging_Button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.THRPaging_Dots {
  display: inline-block;
  width: 13px;
  height: var(--Paging-height);
  padding: 0 3px;
  & .DotIcon {
    width: 100%;
    vertical-align: middle;
    fill: #bfc4c8;
  }
}
