.RSGBook.RSGBook-preset-landscape {
  display: table;
  width: 100%;
  margin: 5px 0;
  border-spacing: 15px 0;

  & .RSGBookThumbnail,
  & .RSGBookMetadata {
    display: table-cell;
    border-spacing: 0;
    vertical-align: top;
  }

  & .RSGBookMetadata_Title {
    color: black;
    font-size: 15px;
  }
  & .RSGBookMetadata_SubTitle {
    font-size: 12px;
    margin-top: 3px;
  }
  & .RSGBookMetadata_Info {
    margin-top: 6px;
    font-size: 12px;
    & > * {
      margin-top: 3px;
    }
  }
  & .RSGBookMetadata_Description {
    margin-top: 7px;
  }
  & .RSGBookMetadata_Price {
    margin-top: 8px;
  }
  & .RSGBookMetadata_Badge {
    margin-top: 12px;
    margin-bottom: 6px;
  }


  /* placeholder */

  & .RSGBookMetadata_Title-placeholder {
    width: 60%;
  }
  & .RSGBookMetadata_SubTitle-placeholder {
    width: 80%;
  }
  & .RSGBookMetadata_Authors-placeholder {
    width: 80px;
  }
  & .RSGBookMetadata_SeriesCount-placeholder,
  & .RSGBookMetadata_StarRate-placeholder {
    width: 60px;
  }
  & .RSGBookMetadata_Publisher-placeholder {
    width: 50px;
  }
  & .RSGBookMetadata_Price-placeholder {
    width: 100px;
    height: 32px;
  }
}

.RSGBook.RSGBook-preset-landscape.RSGBook-preset-landscape-expanded {
  & .RSGBookMetadata_Info > * {
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
  }

  & .RSGBookMetadata_SubTitle {
    font-size: 13px;
    margin-top: 6px;
  }

  & .RSGBookMetadata_Info > :not(:last-child)::after {
    display: inline-block;
    margin: 0 4px;
    width: 1px;
    height: 10px;
    vertical-align: middle;
    background: #e6e6e6;
    content: '';
  }

  & .RSGBookMetadata_Price {
    line-height: 1.6em;
  }


  /* placeholder */

  & .RSGBookMetadata_Description-placeholder {
    height: 4.5em;
  }
  & .RSGBookMetadata_Info {
    & > .RSGBook_Placeholder {
      width: 50px;
      margin-right: 4px;
      &::after {
        content: none;
      }
    }
  }
  & .RSGBookMetadata_Price-placeholder {
    width: 350px;
    height: 40px;
  }
}
