@import './thumbnail.css';
@import './metadata.css';

.RSGBook {
  cursor: default;

  @nest .RSGBook-layout-landscape& {
    display: flex;
    flex-flow: row no-wrap;
    & .RSGBookThumbnail {
      flex: 0 0 auto;
    }
    & .RSGBookMetadata {
      flex: 0 1 auto;
      padding-left: 15px;
    }
  }

  @nest .RSGBook-layout-portrait& {
    & .RSGBookMetadata {
      margin-top: 8px;
    }
  }
}
