.RSGBook {
  cursor: default;

  &.RSGBook-layout-portrait {
    display: inline-block;
    margin: -8px auto;
    vertical-align: top;
    & .RSGBookThumbnail,
    & .RSGBookMetadata {
      margin: 8px 0;
    }
  }

  &.RSGBook-layout-landscape {
    display: table;
    padding: 5px 0;
    border-spacing: 15px;
    & .RSGBookThumbnail,
    & .RSGBookMetadata {
      display: table-cell;
      vertical-align: top;
      border-spacing: 0;
    }
  }

  & .RSGBook_Placeholder {
    min-height: 1em;
    animation: pulse 1.5s infinite ease-in-out;
    box-shadow: none;
  }
}

@keyframes pulse {
  0% {
    background-color: color(var(--slategray_10) alpha(40%));
  }
  50% {
    background-color: color(var(--slategray_10) alpha(80%));
  }
  100% {
    background-color: color(var(--slategray_10) alpha(40%));
  }
}
