@import '../common/customProperties.css';

@import 'thumbnail/reset.css';
@import 'thumbnail/coverImage.css';
@import 'thumbnail/HDBadge.css';
@import 'thumbnail/setBooklet.css';
@import 'thumbnail/circleBadge.css';

.RSGBookThumbnail {
  & .RSGBookThumbnail_Cell {
    position: relative;
  }

  @nest .RSGBook-orientation-portrait & { /* 세로형 레이아웃일 때 다른 도서들과 균일하게 display 되도록 높이값 고정 */
    display: table-cell;
    vertical-align: bottom;

    &.RSGBookThumbnail-size-50 {
      height: var(--bookCoverMaxHeight-width50);
    }

    &.RSGBookThumbnail-size-60 {
      height: var(--bookCoverMaxHeight-width60);
    }

    &.RSGBookThumbnail-size-70 {
      height: var(--bookCoverMaxHeight-width70);
    }

    &.RSGBookThumbnail-size-80 {
      height: var(--bookCoverMaxHeight-width80);
    }

    &.RSGBookThumbnail-size-90 {
      height: var(--bookCoverMaxHeight-width90);
    }

    &.RSGBookThumbnail-size-100 {
      height: var(--bookCoverMaxHeight-width100);
    }

    &.RSGBookThumbnail-size-110 {
      height: var(--bookCoverMaxHeight-width110);
    }

    &.RSGBookThumbnail-size-120 {
      height: var(--bookCoverMaxHeight-width120);
    }

    &.RSGBookThumbnail-size-130 {
      height: var(--bookCoverMaxHeight-width130);
    }

    &.RSGBookThumbnail-size-140 {
      height: var(--bookCoverMaxHeight-width140);
    }

    &.RSGBookThumbnail-size-150 {
      height: var(--bookCoverMaxHeight-width150);
    }

    &.RSGBookThumbnail-size-160 {
      height: var(--bookCoverMaxHeight-width160);
    }

    &.RSGBookThumbnail-size-170 {
      height: var(--bookCoverMaxHeight-width170);
    }

    &.RSGBookThumbnail-size-180 {
      height: var(--bookCoverMaxHeight-width180);
    }

    &.RSGBookThumbnail-size-190 {
      height: var(--bookCoverMaxHeight-width190);
    }

    &.RSGBookThumbnail-size-200 {
      height: var(--bookCoverMaxHeight-width200);
    }
  }
}
